@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


html {
    scroll-behavior: smooth;
}

body {
    background-color: rgba(94, 59, 238, 0.1);
    font-family: Arial, sans-serif;
    overflow: auto;
    /* to make sure other pages can be different colors across the full width of the screen */
    margin: 0; 
}
