.sideblock {
    background-color: rgba(94, 59, 238, 0.8);
    width: 38vw;
    height: 24vw;
    position: absolute;
    top: 30vh;
    right: 6vw;
    border-radius: 2rem;
}

.bottom-aligned-image {
    width: 34vw;
    height: auto;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.mail-icon,
.github-icon,
.linkedin-icon {
    position: absolute;
}


.scroll-button-container {
    position: absolute;
    top: calc(30vh + 24vw + 16vh);
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    display: flex;
    justify-content: center;
}

.scroll-button {
    outline: 0;
    grid-gap: 8px;
    align-items: center;
    background: 0 0;
    border: 2px solid grey;
    border-radius: 4px;
    cursor: pointer;
    display: inline-flex;
    flex-shrink: 0;
    font-size: 16px;
    gap: 8px;
    justify-content: center;
    line-height: 1.5;
    overflow: hidden;
    padding: 12px 16px;
    text-decoration: none;
    text-overflow: ellipsis;
    transition: all .14s ease-out;
    white-space: nowrap;
    font-family: 'Almarai', sans-serif;
}

.scroll-button:hover {
    background-color: rgb(255, 255, 255);
}

.scroll-button:hover {
    box-shadow: 4px 4px 0 #6d6d6d;
    transform: translate(-4px,-4px);
}

#about {
    position: absolute;
}


.left-text {
    margin-left: 10vw;
    margin-top: 30vh;
    max-width: 38vw;
    font-size: 2.5vw;
    line-height: 1.2;
    font-family: 'Almarai', sans-serif;
    color: rgba(0, 0, 0, 0.7);
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.left-text-2 {
    font-size: 1vw;
    line-height: 1.2;
    color: rgba(0, 0, 0, 0.7);
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    margin-top: 10px;
}




.scroll-button:focus-visible{
    outline-offset: 1px;
}
