.sideblock {
    background-color: rgba(94, 59, 238, 0.8);
    width: 37vw;
    height: 21vw;
    position: absolute;
    top: 38vh;
    right: 6vw;
    border-radius: 2rem;
}

.bottom-aligned-image {
    width: 33vw;
    height: auto;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.mail-icon,
.github-icon,
.linkedin-icon {
    position: absolute;
}

.left-text {
    margin-left: 10vw;
    margin-top: 38vh;
    max-width: 38vw;
    font-size: 2.5vw;
    line-height: 1.2;
    font-family: 'Almarai', sans-serif;
    color: rgba(0, 0, 0, 0.7);
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.left-text-2 {
    font-size: 1vw;
    line-height: 1.2;
    color: rgba(0, 0, 0, 0.7);
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    margin-top: 10px;
}

.scroll-button:focus-visible{
    outline-offset: 1px;
}

#about {
    position: absolute;
    background-color: #1F1F1F;
    padding-top: 100px;
}

.about-paragraph {
    font-family: 'Public Sans', sans-serif;
    box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
    text-align: center; /* Optional: Center the text */
    color: #bdbcbc;
    margin: 0px 130px 5vw;
    font-size: 20px;
    opacity: 80%;
}

.my-expertise-title {
    box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
    text-align: center; /* Optional: Center the text */
    color: #ffffff;
    margin: 170px 6vw 0;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;

}

.expertise-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 3vw 5vh; /* Adjust the spacing as needed */
    gap: 30px; /* 3px gap between squares */
}

.square {
    width: 25vw;
    height: 25vw; /* Keep height same as width to make it a square */
    border-radius: 35px;
    display: flex;
    flex-direction: column;
    padding-right: 3vw; /* Add padding to the right */
    font-size: calc(0.8vw + 0.8vh);
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    align-items: center; 
}

.square h2 {
    display: flex;
    align-items: center; /* Center text and icon vertically */
    gap: 1vw; /* Adjust gap between text and icon */
}

.icon {
    width: 5vw; /* Adjust icon size relative to text */
    height: auto; /* Maintain aspect ratio */
}

/* Background colors for squares */
.square-1 {
    background-color: rgba(120, 89, 249, 1);
}

.square-2 {
    background-color: rgba(94, 59, 238, 0.8); /* Example color, adjust as needed */
}

.square-3 {
    background-color: rgba(94, 59, 238, 0.4); /* Example color, adjust as needed */
}

