/* Phones */
@media (orientation: portrait)  {

    #name {
        font-size: 10vw;
    }
    
    #subtitle {
        font-size: 5vw;
    
    }

    .navbar ul {
        list-style: none;
        display: flex; 
        white-space: nowrap;
    }

    .navbar ul li {
        margin: 1vh 0;
        text-align: center; 
    }

    .navbar ul li a {
        padding: 2vh 2vw; 
        font-size: 3vw; 
    }

    .page {
        min-height: 100vh;
    }

    .bottom-aligned-image {
        visibility: hidden;
        width: 70vw;
        left: 50%;
        transform: translateX(-50%);
    }

    .scroll-button {
        display: none;
    }
    .left-text {
        position: absolute;
        margin-top: 30vh;
        left: 43%;
        transform: translateX(-50%);
        text-align: center;
        font-size: 5vw;
        max-width: 100%;
    }

    @media (max-height: 700px) {
        .left-text {
            margin-top: 20vh;
        }
    }

    .left-text-2 {
        font-size: 4vw !important;
        text-align: center;
    }

    .my-expertise-title  {
        font-size: 5vw;
    }

    .expertise-container {
    flex-direction: column; 
    }   

    .square {
        width: 70vw;
        height: 70vw;
        font-size: calc(1.5vw + 1.5vh);
    }

    .icon {
        visibility: hidden;
    }
    .timeline-title-container {
        flex-direction: column; 
        align-items: center; 
    }

    .timeline-image {
        margin-right: 0; 
        margin-bottom: 0.5em; 
    }
}

@media (min-aspect-ratio: 1.2/1) and (width < 1000px) {
    .bottom-aligned-image {
        visibility: hidden;
    }
    .left-text {
        position: absolute;
        margin-top: 25vh;
        left: 43%;
        transform: translateX(-50%);
        text-align: center;
        font-size: 8vh;
        max-width: 100%;
    }
    .left-text-2 {
        font-size: 3vh !important;
        left: 43%;
        transform: translateX(-50%);
        text-align: center;
    }
    
}