/* Phones */
@media (orientation: portrait)  {

    .navbar ul {
        list-style: none;
        display: flex; 
        white-space: nowrap;
    }

    .navbar ul li {
        margin: 1vh 0;
        text-align: center; 
    }

    .navbar ul li a {
        padding: 2vh 2vw; 
        font-size: 3vw; 
    }

    .page {
        min-height: 100vh;
    }

    .purple-sideblock {
        position: absolute; 
        width: 79vw; 
        height: 22vh; 
        top: 25vh;
        left: 50%; 
        transform: translateX(-50%);
    }

    .bottom-aligned-image {
        width: 70vw;
        height: auto;
    }

    .scroll-button {
        display: none;
    }
    .left-text {
        position: absolute;
        top: calc(20vh);
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        left: 40%;
        font-size: 7vw;
        max-width: 100%;
    }
    .left-text-2 {
        font-size: 3vw;
    }

    .my-expertise-title  {
        font-size: 5vw;
    }

    .expertise-container {
    flex-direction: column; 
    }   

    .square {
        width: 70vw;
        height: 70vw;
        font-size: calc(1.5vw + 1.5vh);
    }

    .icon {
        width: 10vw;
        height: auto;
    }
}

/* Ipads in portrait */
@media (orientation: portrait) and (min-width: 500px)  {
    .purple-sideblock {
        position: absolute; 
        width: 77vw; 
        height: 30vh; 
        top: 39vh;
    }

    .left-text {
        position: absolute;
        top: calc(35vh);
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        left: 40%;
        font-size: 7vw;
        max-width: 100%;
    }
}