@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgba(94, 59, 238, 0.1);
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: white;
    padding: 1rem; /* Using rem for padding */
    height: 10vh; /* Using viewport height for height */
    display: flex;
    align-items: center;
    top: 0;
    width: 100%;
    position: fixed;
    z-index: 1000;
}

.navbar ul {
    padding: 6vw;
    font-family: 'Roboto', sans-serif;
    list-style: none;
    width: 100%;
}

.navbar ul li {
    margin: 0 0.5rem;
    display: inline-block;
}

.navbar ul li a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
}

.navbar ul li a:hover {
    text-decoration: underline;
}

.sideblock {
    background-color: rgba(94, 59, 238, 0.8);
    width: 38vw;
    height: 24vw;
    position: absolute;
    top: 30vh;
    right: 6vw;
    border-radius: 2rem;
}

.bottom-aligned-image {
    width: 34vw;
    height: auto;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.icon {
    width: 2.5vw;
    height: auto; 
    position: absolute;
    top: 70vh; 
    display: flex;
}

.mail-icon {
    left: 7vw; 
}

.github-icon {
    left: 13vw;
}

.linkedin-icon {
    left: 19vw; 
}

.about {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    overflow-y: auto;
    height: 100vh;
}

.page {
    height: 100vh;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    overflow-y: auto;
}

.scroll-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgba(94, 59, 238, 0.8);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    bottom: 20px; /* Position 20px from the bottom of the homepage */
    left: 50%;
    transform: translateX(-50%);
}

.scroll-button:hover {
    background-color: rgba(94, 59, 238, 1); /* Darker color on hover */
}
