@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgba(94, 59, 238, 0.1);
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: white;
    padding: 1rem; /* Using rem for padding */
    height: 10vh; /* Using viewport height for height */
    display: flex;
    align-items: center;
    top: 0;
    width: 100%;
    position: fixed;
    z-index: 1000;
}

.navbar ul {
    padding: 6vw;
    font-family: 'Roboto', sans-serif;
    list-style: none;
    width: 100%;
}

.navbar ul li {
    margin: 0 0.5rem;
    display: inline-block;
}

.navbar ul li a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
}

.navbar ul li a:hover {
    text-decoration: underline;
}

.sideblock {
    background-color: rgba(94, 59, 238, 0.8);
    width: 38vw;
    height: 24vw;
    position: absolute;
    top: 30vh;
    right: 6vw;
    border-radius: 2rem;
}

.bottom-aligned-image {
    width: 34vw;
    height: auto;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.mail-icon,
.github-icon,
.linkedin-icon {
    position: absolute;
}

.about {
    display: flex;
    justify-content: center;
    overflow-y: auto;
    height: 100vh; /* Full viewport height */
    padding-top: 15vh; /* Adjust the value as needed */
}

.page {
    height: 100vh;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    overflow-y: auto;
}

.scroll-button {
    display: inline-block;
    padding: 2vh 4.8vw; 
    background-color: rgba(128, 128, 128, 0.5);
    color: white;
    text-decoration: none;
    border-radius: 5vh; 
    font-family: 'Roboto', sans-serif;
    font-weight: bold; 
    position: absolute;
    bottom: 2vh;
    left: 50%;
    transform: translateX(-50%);
    transition: background-color 0.3s ease; 
}

.scroll-button:hover {
    background-color: rgba(128, 128, 128, 0.7); 
}

.scroll-button:hover {
    background-color: rgb(131, 109, 221); 
}

.navbar ul li a.active {
    color: #5E3BEE ; 
}

@media (max-width: 480px) {

    .navbar ul {
        text-align: center;
        list-style: none;
        display: flex; /* Use flexbox to arrange items in a single line */
        white-space: nowrap;
    }

    .navbar ul li {
        margin: 1vh 0; /* Adjust margin using vh */
        text-align: center; /* Center text within each block item */
    }

    .navbar ul li a {
        padding: 2vh 2vw; /* Adjust padding using vh and vw */
        font-size: 3vw; 
    }

    .scroll-button {
        bottom: 2vh; /* Adjusted bottom using vh */
        left: 50%;
        transform: translateX(-50%);
        transition: background-color 0.3s ease; 
    }

    .page {
        height: 100vh;
    }

    .sideblock {
        position: absolute; 
        width: 70vw; 
        height: 20vh; 
        top: 22vh;
        left: 50%; 
        transform: translateX(-50%);
    }

    .bottom-aligned-image {
        width: 60vw;
        height: auto;
    }
}
