/* About page Components */

#about {
  padding-top: 100px;
    position: absolute;
    background-color: #1F1F1F;
}

.about-paragraph {
    font-family: 'Public Sans', sans-serif;
    box-sizing: border-box;
    text-align: center; 
    color: #bdbcbc;
    margin: 40px 130px 5vw;
    font-size: 20px;
    opacity: 80%;
}

.my-expertise-title {
    box-sizing: border-box; 
    text-align: center; 
    color: #ffffff;
    margin: 100px 6vw 0;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;

}

.education-title {
  box-sizing: border-box; 
  text-align: center; 
  color: #ffffff;
  margin: 50px 6vw 0;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;

}

.expertise-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 3vw 5vh;
    gap: 30px; 
}

.square {
    width: 25vw;
    height: 25vw;
    border-radius: 35px;
    display: flex;
    flex-direction: column;
    padding-right: 3vw;
    font-size: calc(0.8vw + 0.8vh);
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    align-items: center; 
}

.square h2 {
    display: flex;
    align-items: center;
    gap: 1vw; 
}

.icon {
    width: 5vw; 
    height: auto;
}

/* Background colors for squares */
.square-1 {
    background-color: rgba(120, 89, 249, 1);
}

.square-2 {
    background-color: rgba(94, 59, 238, 0.8);
}

.square-3 {
    background-color: rgba(94, 59, 238, 0.4);
}

.timeline {
  margin: 50px auto;
  max-width: 90vw;
  display: grid;
  grid-template-columns: 1fr 3px 1fr;
  font-family: "Fira Sans", sans-serif;
  color: #ffffff;
}

.timeline-component {
  margin: 0 20px 20px;
}

.timeline-date--right {
  text-align: right;
}

.timeline-middle {
  position: relative;
  background: #3c3589;
}

.timeline-point {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 1vw;
  height: 1vw;
  background: white;
  border-radius: 50%;
}

.timeline-bg {
  padding: 1.5em;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  position: relative;
}

.timeline-title {
  margin: 0;
  font-size: 1em;
  font-weight: bold;
}

.timeline-paragraph {
  line-height: 1.5;
}

.timeline-point-bottom {
  top: initial;
  bottom: 0;
}

.timeline-image {
  width: 8vw; /* Icon size */
  height: auto;
  margin-right: 1px; /* Space between the icon and text */
}

.timeline-title-container {
  display: flex;
  align-items: center;
  justify-content: center; /* Center-align the university name and icon */
}

.timeline-more-content {
  display: none;
}

.read-more, .read-less {
  color: grey;
  text-decoration: none;
  cursor: pointer;
  display: block;
  text-align: center;
  margin-top: 10px;
}

.read-more:hover, .read-less:hover {
  color: white;
}

.timeline-image-me {
  width: 50%; /* Make the image responsive */
    height: auto; /* Maintain aspect ratio */
    margin: 10px auto; /* Center the image horizontally and add vertical space */
    display: block; /* Ensure the margin auto works for centering */
    border-radius: 5px; /* Optional: Add rounded corners */
}

.timeline-title-container {
  display: flex;
  flex-direction: column; /* Stack the elements vertically */
  align-items: center; /* Center the content horizontally */
}

.timeline-image {
  width: 8vw; /* Icon size */
  height: auto;
  margin-right: 10px; /* Space between the icon and text */
}

.university-name {
  margin-top: 20px;
  font-size: 1.15em;
  font-weight: bold;
  text-align: center;
}

.degree-title {
  margin-top: 5px; /* Reduce space between university name and degree title */
  font-size: 0.9em; /* Slightly larger font for better readability */
  text-align: center; /* Center the degree title */
  font-weight: normal;
  margin-bottom: 30px
}

.frontend-description {
  font-size: 1.4vw; /* Smaller font size than the title */
  color: #dad1d1; /* Adjust text color to match your design */
  margin-top: 10px; /* Add some spacing between the title and the description */
  margin-left:10%;
  text-align: center;
}

