#experience {
    position: absolute;
    background-color: #452c63;
}

.grid-outline-1 {
    margin: 70px auto;
    max-width: 90vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-family: "Fira Sans", sans-serif;
    color: #120f0f;
    
}

.grid-outline-2 {
    margin: 120px;
    max-width: 90vw;
    display: grid;
    grid-template-columns: 1fr 1fr 10vw 1fr 1fr;
    font-family: "Fira Sans", sans-serif;
    color: #120f0f;   
}

.circle {
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    background-color: blueviolet;
    margin: auto;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.circle.fade-in {
    opacity: 1;
}

.circle-image {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Ensures the image covers the container */
}

.experience-title {
    font-size: 7rem;
    text-align: center;
    margin: 2rem 0; 
    color: white;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.experience-title.fade-in {
    opacity: 1;
}
