.intro {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0; /* Initially hidden */
    animation: fadeInOut 10s ease-in-out forwards; 
    /* Animation name, duration, timing function */
}

#title {
    background: -webkit-linear-gradient(#694adc, #d6a7ec);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: slideInText 10s ease-out forwards, fadeOutName 4s ease-out forwards 5s; /* Animation names and timing */
    font-family: 'Almarai', sans-serif;
}


#name {
    font-size: 5vw;
}

#subtitle {
    font-size: 2.5vw;

}

@keyframes slideInText {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0%);
    }
}

@keyframes fadeOutName {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadeInOut {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
